name:
on:
  push:
    branches: [ "main" ]
env:
  # renovate: datasource=pypi depName=borgmatic
  borgmatic_version: 2.0.13
  # renovate: datasource=pypi depName=borgbackup
  borg_version: 1.4.3
permissions:
  checks: write
  contents: write
  packages: write
  pull-requests: read
jobs:
  build-publish:
    name: Build and Publish
    runs-on: self-hosted
    strategy:
      matrix:
        version:
          - postgres: '12'
            alpine: '3.18'
          - postgres: '13'
            alpine: '3.19'
          - postgres: '14'
            alpine: '3.20'
          - postgres: '15'
            alpine: '3.22'
          - postgres: '16'
            alpine: '3.22'
          - postgres: '17'
            alpine: '3.22'
          - postgres: '18'
            alpine: 'edge'
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/${{ github.repository }}
            registry.etke.cc/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ matrix.version.postgres == '' }}
            type=raw,value=${{ matrix.version.postgres }}-${{ env.borg_version }}-${{ env.borgmatic_version }},enable=${{ github.ref_name == 'main' }}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ALPINE_VERSION=${{ matrix.version.alpine }}
            POSTGRES_VERSION=${{ matrix.version.postgres }}
            BORGMATIC_VERSION=${{ env.borgmatic_version }}
            BORG_VERSION=${{ env.borg_version }}
  build-publish-latest:
    name: Build and Publish (latest)
    runs-on: self-hosted
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/${{ github.repository }}
            registry.etke.cc/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref_name == 'main' }}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ALPINE_VERSION=edge
            POSTGRES_VERSION=
            BORGMATIC_VERSION=${{ env.borgmatic_version }}
            BORG_VERSION=${{ env.borg_version }}
